:root {
    --color_menu: #ffffff;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    min-width: 390px;
}

body {
    background-image: url(../flex/363928.jpg);
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    justify-items: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 90%;
}



/* CABECÁRIO DA PAGINA  */



.titulo {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    width: 95%;
    margin-top: 5%;

}


.inicio_do_titulo {
    display: flex;
    background-image: url(../fundo_do_cabecario/cabecario_5.jpeg);
    background-attachment: scroll;
    background-size: cover;
    border-radius: 1.5em;
    justify-content: space-between;
    padding: 1em;
    border: 0.02px solid #ccc;
}

.inicio_do_titulo h1 {
    color: #ffffff;
    font-size: 2.8rem;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.9rem;
}

.inicio_do_titulo img {
    border-radius: 50%;
}

/* CONSTRUÇÃO DO ICONE FLUTUANTE DO WHATSAPP */

.icone_flutuante_do_whatsapp {
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 1000;
}


.imagem_icone_flutuante {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 0.2em solid silver;
}

/* DESCRIÇÃO DO TATUADOR */

.tattoo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    width: 70%;
}

.descricao_tatuador {
    backdrop-filter: blur(8px);
    color: #eeece7;
    font-size: 2.3em;
    text-align: center;
    border-radius: 1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.descricao_da_tatuagem {
    color: rgb(255, 255, 255);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    margin-top: 2em;
    font-size: 1.4em;
    text-align: center;
    letter-spacing: 0.08em;
}


/* CATALOGO DE SERVICOS  */


.card_catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    border: 0.3em solid silver;
    margin-top: 4em;
    border-radius: 1.5em;
    backdrop-filter: blur(6px);
    width: 90%;
    height: auto;
}

.foto_do_card {
    width: 90%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card_catalogo h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 02rem 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.13rem;
    color: rgb(0, 255, 234);
}

.card_catalogo p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em;
    width: 70%;
    text-transform: capitalize;
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 0.5em;
    letter-spacing: 0.06em;
    text-align: center;

}

.link_whatsapp {
    justify-content: center;
    flex-wrap: wrap;
}

.card_catalogo a {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(0, 255, 234);
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid white;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    font-size: 1em;
    margin-bottom: 1.6em;
    width: 70%;
    padding: 1.5em;
    margin-top: 0.5em;

}

.card_catalogo a:hover {
    color: #000000;
    background-color: rgb(0, 255, 234);
}

/* SESSAO DO ARTISTA */

.artista {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;

}

.foto_artista {

    width: 95%;
    border-radius: 1em;
}

.historia_tatuador {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(6px);
    border-bottom: 0.2em solid silver;
    margin-top: 7%;
}


.artista h3 {
    padding-top: 1em;
    color: rgb(0, 255, 234);
    background-color: rgba(255, 255, 255, 0);
    letter-spacing: 0.08em;

}

.artista p {
    color: rgb(255, 255, 255);
    padding: 0.6em;
    margin-bottom: 1.5rem;
    letter-spacing: 0.15em;
    line-height: 1.7em;
    text-indent: 1em;
    width: 90%;
}




/* CONSTRUÇÃO DO QRCODE E LINK DE ACESSO A LOCALIZAÇÃO */

.localizacao {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    width: 90%;

}

.saudacao_local {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2em;
    padding: 1em;
    font-size: 2em;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.logo_imagem {
    margin-top: 2em;
    border-radius: 15px;
    border: 2px solid silver;
    width: 65%;
}


.mapa {
    display: flex;
    justify-content: center;
    width: 80%;

}



/* RODAPE DA PAGINA */

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.rodape {
    background: linear-gradient(black, rgb(44, 42, 42));
    padding: 0.5em;
    text-align: center;
    margin-top: 4em;
}

.rodape p {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0.4px rgba(26, 27, 25, 0.525);
    text-transform: capitalize;
}